.footer {
  background: beige;
  display: flex;
  justify-content: space-around;
}

.footer-column {
  margin: 7rem;
  // border: 2px solid black;
}

.copy {
  text-align: center;
  background: bisque;
}

.three {
  display: flex;
  flex-direction: column;
}

.f-three {
  width: 15%;
}
